/* Responsive Media Query */
@media (max-width: 1000px) {
  .home {
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center everything vertically */
    text-align: center; /* Center text horizontally */
  }

  .home-content {
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center everything vertically */
    text-align: center; /* Center text horizontally */
    margin-top: 80px;
  }

  .section__pic-container {
    flex: none; /* Don't allow the image to grow; keep its size */
  }
}
@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .project .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover {
    color: #d1dfdf;
  }
  nav .navbar .media-icons {
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
  .home .text-two {
    font-size: 65px;
  }
  .home .text-three {
    font-size: 35px;
  }
  @media screen and (max-width: 1220px) {
    /* Adjust styles for screens with a maximum width of 1220px */
    .article-container {
      width: 100%; /* Make the container full width */
      padding: 1rem; /* Add some padding for spacing */
    }

    .article {
      width: 100%; /* Make each article full width */
      margin-bottom: 2rem; /* Add space between articles */
    }
  }

  @media (max-width: 750px) {
    #experience {
      /* Adjust styles for smaller screens here */
      justify-content: flex-start; /* Change vertical alignment, for example */
    }

    .experience-sub-title {
      /* Adjust font size or other styles for smaller screens */
      font-size: 1.5rem;
    }

    .article-container {
      /* Adjust layout for smaller screens, e.g., stack articles vertically */
      flex-direction: column;
      align-items: center;
    }
  }

  .project .boxes .box {
    margin: 20px 0;
    width: 100%;
  }
  .contact .text {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .contact-inputs,
  .contact-left button {
    width: 100%; /* Make inputs and button full-width */
  }
}
