@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  /*border: 1px solid red; */
}
html {
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #383838; /* scroll bar*/
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  background-color: #4d5c61;
}
nav.sticky {
  background: #383838;
  padding: 13px 0;
}
nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; /* Set the desired width for your logo */
  height: auto;
}
nav.sticky .navbar .logo a {
  position: absolute;
  top: 0;
  left: 0;
}
nav .navbar .menu {
  display: flex;
  position: relative;
}
nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #d1dfdf;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover {
  color: white;
}
.menu {
  gap: 3rem;
}
nav.sticky .menu a {
  color: #d1dfdf; /*second nav bar font color*/
}

.menu-btn {
  color: #d1dfdf;
}

.navbar .media-icons a {
  color: #d1dfdf;
  font-size: 25px;
  margin: 0 10px;
}
nav.sticky .media-icons a {
  color: #d1dfdf;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn {
  color: #d1dfdf;
}
nav.sticky .menu-btn {
  color: #fff;
}
.navbar .menu .menu-btn {
  color: #fff;
}

/* home section styling */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: #d1dfdf;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  text-align: left;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-top: 50px;
}

.section__pic-container {
  flex: 1;
  padding: 20px;
}

.profile-container {
  max-width: 50%;
  height: 50%;
}

.profile-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  flex: 1;
}

.home .text-one {
  font-size: 25px;
  color: #383838;
}

.home .text-two {
  color: #383838;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #4d5c61;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4d5c61;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: #4d5c61;
  background-color: #fff;
  color: #4d5c61;
}

/* About Section Styling */

section {
  padding-top: 40px;
}
section .content {
  width: 80%;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
}
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
}
section .title span {
  color: #383838;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left {
  width: 45%;
}
.about .left img {
  height: 450px;
  width: 500px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right {
  width: 55%;
}
section .topic {
  color: #383838;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p {
  text-align: justify;
  color: #383838;
}
section .button {
  margin: 16px 0;
  margin-bottom: 25px;
}
section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4d5c61;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover {
  border-color: #4d5c61;
  background-color: #fff;
  color: #4d5c61;
}
.about-details {
  display: flex;
  flex-wrap: wrap;
}

.right {
  flex: 1;
  margin-right: 20px;
}

.experience-details-container {
  margin-top: 10px;
}
.experience,
.education {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
}

.experience h2,
.education h2 {
  margin-top: 0;
  margin-bottom: 5px;
}
.about {
  background-image: url("assets/about_bg.gif");
  background-size: cover;
  background-position: center;
  color: #4d5c61;
  padding: 50px 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
  background-color: #d1dfdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.details-container {
  margin-top: 30px;
  margin-bottom: auto;
}

.article-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 3rem;
  width: 80rem;
}

.article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.text {
  color: #383838;
}

/* PROJECTS SECTION */

#project {
  position: relative;
  background-image: url("assets/about_bg.gif");
  background-size: cover;
  background-position: center;
  color: #4d5c61; /* Text color for better visibility against the background */
  padding: 50px 0;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: #383838;
}

.project-btn {
  color: #383838;
  border-color: rgb(163, 163, 163);
}

.project .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.project .boxes .box:hover {
  background: #4d5c61;
  color: #fff;
}

.project .boxes .box .icon {
  height: 300px;
  width: 300px;
  background: #4d5c61;

  text-align: center;
  line-height: 100px; /* Adjust the line-height to center the image vertically */
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  overflow: hidden; /* Clip the image if it's larger than the box */
  position: relative; /* Add position:relative for absolute positioning of the image */
}

/* My project CSS */
.project .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.project .boxes .box:hover {
  background: #4d5c61;
  color: #fff;
}

.project .boxes .box .icon {
  height: 100px;
  width: 100px;
  background: #4d5c61;
  border-radius: 50%;
  text-align: center;
  line-height: 100px; /* Adjust the line-height to center the image vertically */
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  overflow: hidden; /* Clip the image if it's larger than the box */
  position: relative; /* Add position:relative for absolute positioning of the image */
}

/* Style for the image inside the icon box */
.project .boxes .box .icon img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.4s ease;
}

.project .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.project .boxes .box:hover {
  background: #4d5c61;
  color: #fff;
}

.project .boxes .box .icon {
  height: 300px;
  width: 300px;
  background: #4d5c61;
  border-radius: 0%;
  text-align: center;
  line-height: 100px; /* Adjust the line-height to center the image vertically */
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  overflow: hidden; /* Clip the image if it's larger than the box */
  position: relative;
}

/* Style for the buttons */
.project .boxes .box .buttons {
  margin-top: 20px;
}

.project .boxes .box .buttons .btn {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}

.project .boxes .box .buttons .btn.primary {
  background-color: #383838;
  color: #fff;
}

.project .boxes .box .buttons .btn:hover {
  background-color: #fff;
  color: #4070f4;
}

.project .boxes .box:hover .topic,
.project .boxes .box:hover p {
  color: #0e2431;
  transition: all 0.4s ease;
}

.project .boxes .box:hover .topic,
.project .boxes .box:hover p {
  color: #fff;
}

/*Contact */

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(270deg, #d1dfdf, #4d5c61);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
  color: white;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: black;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}

.contact-left button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #383838;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-left button:hover {
  background: green;
}

/* Footer CSS */

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-text {
  font-size: 14px;
}

.footer-text span {
  color: #d1dfdf;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4d5c61;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}
